form {
            width: 500px;
            margin: auto;
            
        }

        fieldset {
            border-radius: 10px;
            border: 1px solid white;
            /* background-color: #ff0040; */
            background-image: linear-gradient(to bottom, green, yellow);

        }

        legend {
            border: 5px solid white;
            border-radius: 12px;
            background-color: white;
            margin: auto;
        

        }

        .legend-container {
            box-sizing: border-box;
            background-color:  green;
            padding: 20px;
            color: white;
            margin: auto;
            border-radius: 10px;
            font-weight: bold;
            font-size: 20px;
            
 
        }


        label {
            width: 100px;
            display: inline-block;
            font-weight: bold;
            margin-left: 8px;

        }

        .button-holder {
            margin: auto;
            padding: 10px;
            /* float: right;       */
        }

        input[type=text]{
            border-radius: 10px;
            padding: 10px;
            width: 300px;
            border: 1px solid #00000042;

        }

        select{
            background-color: inherit;
            border-radius: 10px;
            padding: 10px;
            width: 320px;
            border: 1px solid #00000042;

            text-indent: 5px;
        }

      

        .input-container {
            
            background-color: #ffffff93;
            margin: 3px;
            padding: 10px;
            border-radius: 5px;
            /* border: 1px solid #00000042; */

        }



        .submitbtn {

            background-color: green;
            color: white;
            padding: 10px;
            border-radius: 5px;
            border: 2px solid pink;
            float: right;
            font-weight: bold;


        }

        .submitbtn:hover {
            background-color: white;
            color: maroon;
            border-radius: 10px;
            border: 2px solid black;


        }
 

        textarea  {
            vertical-align: top;
            border-radius: 10px;
            padding: 10px;
            width: 300px;
            border: 1px solid #00000042;
        }